/bootstrap-datepicker3.css
/bootstrap-datepicker3.css.map
/bootstrap-datepicker3.min.css
/bootstrap-datepicker3.standalone.css
/bootstrap-datepicker3.standalone.css.map
/bootstrap-datepicker3.standalone.min.css
/bootstrap-datepicker.css
/bootstrap-datepicker.css.map
/bootstrap-datepicker.min.css
/bootstrap-datepicker.standalone.css
/bootstrap-datepicker.standalone.css.map
/bootstrap-datepicker.standalone.min.css
